*{margin:0;padding:0;}

.box{width:100%;height:100%;background:rgba(0,0,0,0.5);position:fixed;z-index:100;display:none;}
.button{margin:200px 200px;width:40px;height:30px;background:orange;border:0;outline:none;color:#fff;}
.hint{width:500px;height:332px;margin:0 auto;background:#fff;position:fixed;top:50%;left:50%;margin-left:-250px;margin-top:-166px;z-index:111;display:none;}
.hint-in1{width:500px;height:70px;background:#0b8ed9;position:relative;}
.hint1{width:48px;height:47px;-webkit-background-size:48px 47px;
    background-size:48px 47px;top:12px;left:98px;position:absolute;z-index:111;}
.hint2{line-height:70px;color:#f4e8df;font-size:26px; text-align: center;}
.hint3{width:38px;height:37px;background:url(../images/icon/hint3.png) no-repeat;-webkit-background-size:38px 37px;background-size:38px 37px; position:absolute;top:7px;right:7px;}
.hint3:hover{width:38px;height:37px;background:url(../images/icon/hint33.png) no-repeat;-webkit-background-size:38px 37px;background-size:38px 37px; position:absolute;top:7px;right:7px;}
.hint-in2{line-height:150px;font-size:18px; text-align:center;color:#333; font-family:微软雅黑;}
.hint-in3{font-size:22px ;width:140px;height:50px;background:#0b8ed9;color:#f4e8df;position:absolute;bottom:50px;left:80px;text-align:center;line-height:50px;border-radius:6px;}

.hintl{width:500px;height:332px;margin:0 auto;background:#fff;position:fixed;top:50%;left:50%;margin-left:-250px;margin-top:-166px;z-index:111;display:none;}
.hintl-in1{width:500px;height:70px;background:#ff6600;position:relative;}
.hintl1{width:48px;height:47px;background:url(../images/icon/hint2.png) no-repeat;-webkit-background-size:48px 47px;
    background-size:48px 47px;top:12px;left:98px;position:absolute;z-index:111;}
.hintl2{line-height:70px;color:#f4e8df;font-size:26px;padding-left:156px;}
.hintl3{width:38px;height:37px;background:url(../images/icon/hint3.png) no-repeat;-webkit-background-size:38px 37px;background-size:38px 37px; position:absolute;top:7px;right:7px;}
.hintl-in2{line-height:150px;font-size:20px; text-align:center;color:#ff6600;}
.hintl-in3{font-size:22px ;width:90px;height:50px;background:#ff7800;color:#f4e8df;position:absolute;bottom:50px;left:108px;text-align:center;line-height:50px;border-radius:8px;}
.hintl-in4{font-size:22px ;width:90px;height:50px;background:#d1cfcd;color:#fff;position:absolute;bottom:50px;right:108px;text-align:center;line-height:50px;border-radius:8px;}
.tan-input{ width:220px; height:30px; line-height:30px; border:solid #ddd 1px; padding-left:5px;}
.tan-del{font-size:22px ;width:140px;height:50px;background:#0b8ed9;color:#f4e8df;position:absolute;bottom:50px;right:80px;text-align:center;line-height:50px;border-radius:6px;}